<div ng-controller='userController'>
    <br>
    <h1> Q&A </h1>

    <br>
    <div ng-messages='loginName.login.$error'>
        <h6 ng-message='minlength'>Name cannot be shorter than 3 characters!</h6>
    </div>
    <form name='loginName'>


        <div>
            <h3> Name: </h3>

            <input name='login' type='text' ng-model='loginAttempt' ng-minlength='3' required><br> <br>

            <button ng-click='checkUser(loginAttempt)'>Login</button>
        </div>

    </form>


</div>
